{% block login %}
    <div id="wrap">
        <div id="regbar">
            <div id="navthing">
                <h2><a href="{% url 'login' %}" id="loginform">Login</a> | <a href="{% url 'signup' %}">Signup</a></h2>
                <div class="login">
                    <div class="arrow-up"></div>
                    <div class="formholder">
                        <div class="randompad">
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password">
                                    {% if login_error %}
                                        <label class="error">{{ login_error }}</label>
                                    {% endif %}
                                    <input class="button" type="submit" value="Login">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock login %}
</html>

