{% extends 'photogallery/base.html' %}
{% block content %}
    <form class="form-signup" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        {#        {% for field in userForm %} {# Удаляем цикл #}
        {#            <div class="form-group register_style">#}
        {#                {{ field.errors }}#}
        {#                {{ field.label_tag }}#}
        {#                {{ field }}#}
        {#            </div>#}
        {#        {% endfor %}#}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" id="psw" placeholder="Password" name="password1">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" id="psw" placeholder="Repeat password" name="password2">
        </div>
        {% if login_error %}
            <label class="error">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </label>
        {% endif %}
        <div class="form-group">
                <button type="submit" class="btn">Sign up</button>
        </div>
    </form>
{% endblock content %}
